---
layout: default
---

<div class="home">

<p>Bundles of Love provides baby clothes and certain baby and nursing necessities in good used and new condition to parents free of charge.</p>

<p>I will not ask for payment. Our purpose is to bring families together in our community so Bundles of Love run on trust and will hopefully remain that way.</p>

<p>Currently I have no acceptance criteria. Any parent or caregiver is welcome to take what they need in a few sizes at a time. Please cconsider redonating what you can after you are finished using it. Stains are expected and perfectly acceptable. Any clothing with obvious, unremovable stains will be recycled.</p>

<p>I currently am focusing on both boys and girls sizes Newborn through 2T in all seasons. I have no standard open hours so please make an appointment to see what we have available. I am happy to answer any questions you have so don't hesitate to contact me.</p>
</div>
